.day-month-year {
    display: flex;
    justify-content: center;
    align-items: center;
}

#month,
#day, #year {
  align-items: center;
  width: 25%;
  padding: 4px 4px;
  margin: 4px 2px;
  box-sizing: border-box;
  outline: none;
  border: 2px solid grey;
  border-radius: 4px;
  background: linear-gradient(#edd979 0%, #d48d00 20%, #f0d977 110%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search-icon{
  fill:  #dda024;
  margin-left: 0.6em;
  cursor: pointer;
}

.search-icon:active {
  fill:whitesmoke;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox -moz-appearance*/
input[type="number"] {
  width: 20%;
  box-sizing: border-box;
  padding: 5px 8px;
  margin: 0px 20px 0 0;
  -moz-appearance: textfield;
  outline: none;
  border: 2px solid grey;
  border-radius: 4px;
  background: linear-gradient(#edd979 0%, #d48d00 20%, #f0d977 110%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  caret-color: white;
}

.year:focus {
  outline: none;
  border: 2px solid darkgrey;
  border-radius: 4px;
}

.output {
  height: 50px;
  text-align: center;
  margin-top: 10px;
  color: white;
}
